# Dictionary

In [ ]:
# Dictionary
# -indexing 
# -multiple and duplicate data
# ordered 
# mutable data type 
# diictionary lai represent garne curley braket ma

In [ ]:
# d={<key>:value>, <key>:value}

In [2]:
d={'a':'apple', 'b':'ball', 'c':'cat'}
d

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [14]:
print(d['a'])
print(d['c'])

Ant
cat

In [ ]:
d={'a':'apple', 'b':'ball', 'c':'cat'}

In [ ]:
# Ordered  data type 
# jasto data type lekhexa tyai data type le print hunxa

In [ ]:
# Create a Dictionary
d={}
type(d)

In [ ]:
# Create a Dictionary (key jaile pani )
d=dict{}
type(d)

In [5]:
# Add value
d={}
d['a']='Apple'
d['b']='Ball'
d['c']='Cat'
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [6]:
# update value
d={'a':'apple', 'b':'ball', 'c':'cat'}
d['a']='Ant'
d

{'a': 'Ant', 'b': 'ball', 'c': 'cat'}

In [9]:
# read dict
d={'a': 'Ant', 'b': 'ball', 'c': 'cat'}
for i in d:
    print(i, end=' ')
# Key lai matra return garxa

a b c

In [11]:
d={'a': 'Ant', 'b': 'ball', 'c': 'cat'}
for i in d.values():
    print(i)
# likewise, yasari value print hunxa

Ant
ball
cat

In [12]:
d={'a': 'Ant', 'b': 'ball', 'c': 'cat'}
for i in d.items():
    print(i)
# keys and value both print hunxa

('a', 'Ant')
('b', 'ball')
('c', 'cat')

In [16]:
# convert list into dict 
d=[['a','Ant'], ['b','ball'], ['c','cat']]
dict(d)

{'a': 'Ant', 'b': 'ball', 'c': 'cat'}

In [17]:
# Classwork (key value pair)
data={}
n=int(input('Enter value n = '))
for i in range (n):
    name = input('Enter name= ')
    phone=input('Enter phone= ')
    data[name]=phone

print(data)

Enter value n = 2
Enter name= ram
Enter phone= 9852467
Enter name= shyam
Enter phone= 524795
{'ram': '9852467', 'shyam': '524795'}

In [ ]:
# No list as key in dictionary 
data = {'ram': '9852467', 'shyam': '524795'}

In [18]:
# list inside dictionary
data = {'ram':['9852467','5789455'] , 'shyam': ['524795','55617525']}
data

{'ram': ['9852467', '5789455'], 'shyam': ['524795', '55617525']}

In [23]:
data={}
n=int(input('Enter value n = '))
for i in range (n):
    name = input('Enter name= ')
    ntc_ph=input('Enter ntc phone= ')
    ncell_ph=input('Enter ncell phone= ')
    data[name]=[ntc_ph, ncell_ph]

print(data)

Enter value n = 2
Enter name= ram
Enter ntc phone= 5457852
Enter ncell phone= 452575
Enter name= hari
Enter ntc phone= 45852
Enter ncell phone= 457526
{'ram': ['5457852', '452575'], 'hari': ['45852', '457526']}

In [24]:
data['ram'[0]]

KeyError: 'Ram'

In [ ]:
data = {
    'name':['Ram', 'Shyam','Hari'],
    'age':[78,67,89],
    'add':['Kathmandu', 'Bhaktapur', 'Lalitpur']
}

In [27]:
# important 
data={'name':[],
     'age':[],
     'add':[]}
n=int(input('Enter value of n '))
for i in range(n):
    name =input('Enter name = ')
    age =input('Enter age= ')
    add =input('Enter add= ')
    data['name'].append(name)
    data['age'].append(age)
    data['add'].append(add)

print(data)

Enter value of n 2
Enter name = ram
Enter age= 67
Enter add= kathmandu
Enter name = shyam
Enter age= 36
Enter add= bhaktapur
{'name': ['ram', 'shyam'], 'age': ['67', '36'], 'add': ['kathmandu', 'bhaktapur']}

In [31]:
# details of ram
a={'name':['ram', 'shyam'], 'age': ['67', '36'], 'add': ['kathmandu', 'bhaktapur']}
print('name',a['name'][0])
print('age',a['age' [0]])
print('add',a['add'][0])

name ram

KeyError: 'a'

In [35]:
# dict inside dict 
data={'physics':{'ptr':25, 'th':60},
     'chemistry':{'ptr':25,'th':55,},
      'Math':{'ptr': 25, 'th':67}}

In [37]:
# ptr marks of physics 
print(data['physics']['ptr'])

25

In [38]:
print(data['physics']['th'])

60

In [ ]:
# WAP to create dict inside dict with CRUD
# WAP to edit and delete above program

In [ ]:
# CRUD
# c=create 
# r=read 
# u=update 
# d=delete

In [2]:
# Dictionary inside dictionary
data = {}
n=int(input('enter n= '))
for i in range(1,n+1):
    name= input('Enter name = ')
    age= input('Enter age= ')
    add=input('Enter add= ')
    data[i]={'name':name, 'age':age, 'add':add}
    
print(data)

enter n= 2
Enter name = ram
Enter age= 34
Enter add= kathmandu
Enter name = shyam
Enter age= 22
Enter add= bhw
{1: {'name': 'ram', 'age': '34', 'add': 'kathmandu'}, 2: {'name': 'shyam', 'age': '22', 'add': 'bhw'}}

In [ ]:
# ekdum imp dict and list

In [3]:
# add fuction 
data[3]={'namae':'Hari', 'age':34, 'add':'Bara'}
data

{1: {'name': 'ram', 'age': '34', 'add': 'kathmandu'},
 2: {'name': 'shyam', 'age': '22', 'add': 'bhw'},
 3: {'namae': 'Hari', 'age': 34, 'add': 'Bara'}}

In [5]:
# update
data[1]['age']=29
data

{1: {'name': 'ram', 'age': 29, 'add': 'kathmandu'},
 2: {'name': 'shyam', 'age': '22', 'add': 'bhw'},
 3: {'namae': 'Hari', 'age': 34, 'add': 'Bara'}}

In [6]:
# delete
del data[3]
data

{1: {'name': 'ram', 'age': 29, 'add': 'kathmandu'},
 2: {'name': 'shyam', 'age': '22', 'add': 'bhw'}}