# List

In [ ]:
# Python collection 
# List 
# tuple 
# dictionary 
# set 
# list is collection of data or value

In [ ]:
# List or (Array)
# Indexing 
# Duplicate and multiple values 
# Ordered 
# Mutable
# list is most used data type in pyth√≤n

In [ ]:
l=list()
l=[]

In [5]:
a=[1,2,3,4,5,6,7,8,9]
b=["Apple", "Dog", "Ball", "Fish","Cat"]
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [8]:
# Indexing
a=["Apple", "Dog", "Ball", "Fish","Cat"]
print(a[0])
print(a[0:5])
print(a[0:5:2])

Apple
['Apple', 'Dog', 'Ball', 'Fish', 'Cat']
['Apple', 'Ball', 'Cat']

In [ ]:
# Duplicate Values 
a=["Apple", "Dog", "Ball", "Fish","Cat", "Apple", "Ball"]

In [ ]:
# Ordered Data type 
a=["Apple", "Dog", "Ball", "Fish","Cat"]

In [10]:
# +,* (Addition and multiplication)
a=[1,2,3,4]
b=[5,6,7,8]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8]

In [11]:
a=[1,2,3,4]
b=2
c=a*b
print(c)

[1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
# multiple data lai save garera rakhne matra ho, calculations garne hoina
# Sort garne bela ma ki ta only integer ki only float ki only string(a.sort is function)
# capital letter lai priority dinxa sort le

In [19]:
l=[]
n=int(input("Enter n = "))
for i in range(n):
    x=int(input("Enter x = "))
    l=l+[x]

print(l)
print("The sum=", sum (l))
print("The max=", max(l))
print("The min=", min(l))
print("The avg=", sum(l))
l.sort()
print(l)
l.reverse()
print(l)

Enter n = 3
Enter x = 15
Enter x = 10
Enter x = 15
[15, 10, 15]
The sum= 40
The max= 15
The min= 10
The avg= 40
[10, 15, 15]
[15, 15, 10]

In [22]:
a=["apple", "Dog", "ball", "Fish","Cat"]
a.sort
print(a)

['apple', 'Dog', 'ball', 'Fish', 'Cat']

In [23]:
# Loop in list
a = ["Apple", "cat", "Fish"]
for i in a:
    print(i)

Apple
cat
Fish

In [29]:
i=0
a = ["Apple", "cat", "Fish"]
l=len(a)
while i<l:
    print(a[i])
    i=i+1

Apple
cat
Fish

In [ ]:
# insert values 
# --append(), insert(), extend ()

# delete values 
# --del, remove(), pop ()

In [31]:
# append -- first come first in value , original value ma change auxa.
# append le last last ma value add garxa 
a.append('Apple')
a.append('Ball')
a.append('Cat')
a

['Apple', 'cat', 'Fish', 'Apple', 'Ball', 'Cat']

In [32]:
l=[]
n=int(input("Enter n = "))
for i in range(n):
    x=int(input("Enter x = "))
    l.append(x)
print(l)

Enter n = 2
Enter x = 5
Enter x = 5
[5, 5]

In [38]:
# Insert Fuction ()
# insert le bich ma value insert garxa
a = ["Apple", "cat", "Fish","Rat"]
a.insert(2,"cow")
a

['Apple', 'cat', 'cow', 'Fish', 'Rat']

In [39]:
# extend()
a=[1,2,3]
b=[4,5,6,]
a.extend(b)
a

[1, 2, 3, 4, 5, 6]

In [42]:
# delete values 
# --del is keyword, remove() pop () is fuction 
a = ["Apple","Apple", "cat", "Fish","Rat", "cat", "Fish"]
del a[0]
print(a)

['Apple', 'cat', 'Fish', 'Rat', 'cat', 'Fish']

In [43]:
del a[0:4]
a

['cat', 'Fish']

In [45]:
# remove(), index bujdaina, 
a=[0,1,2,3,4,5,6,7,8,9]
a.remove(5)
a

[0, 1, 2, 3, 4, 6, 7, 8, 9]

In [48]:
a = ["Apple", "Ball", "cat","Apple"]
a.remove("Apple")
a

['Ball', 'cat', 'Apple']

In [49]:
a = ["Apple","Apple", "cat", "Fish","Rat", "cat", "Fish"]
c=a.count("Apple")
for i in range(c):
    a.remove("Apple")
print(a)

['cat', 'Fish', 'Rat', 'cat', 'Fish']

In [50]:
# Pop() (del is almost same )
a = ["Apple","Apple", "cat", "Fish","Rat", "cat", "Fish"]
a.pop(0)
print(a)

['Apple', 'cat', 'Fish', 'Rat', 'cat', 'Fish']

In [ ]:
# each and every squence haru milera strings banxa 
# coma le seperate garxa list ma

In [2]:
# list indise list (nested list)
a = [[1,2,3],
    [4,5,6],
    [7,8,9]]
a

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [3]:
a[2]

[7, 8, 9]

In [4]:
a[0][0]

1

In [7]:
a=[["Ram",34,"Kathmandu"],
   ["Shyam", 23, "Bhaktapur"],
   ["Hari", 67, "Lalitpur"]]
a[0]
print(a[0][0])

Ram

In [6]:
a[2]

['Hari', 67, 'Lalitpur']

In [1]:
l=[]
n=int(input('Ener n = '))
for i in range(n):
    name = input('Enter name= ')
    age= int(input('Enter age = '))
    add= input('Enter add= ')
    info=[name, age, add]
    l.append(info)

print(l)

Ener n = 2
Enter name= Ram
Enter age = 34
Enter add= Kathmandu
Enter name= Hari
Enter age = 67
Enter add= Lalitpur
[['Ram', 34, 'Kathmandu'], ['Hari', 67, 'Lalitpur']]

In [15]:
a=[["Ram",34,"Kathmandu"],
   ["Shyam", 23, "Bhaktapur"],
   ["Hari", 67, "Lalitpur"]]
# add new value 
l.append(["Nabin", 20, "Jhapa"])
l

[['Nabin', 20, 'Jhapa']]

In [16]:
# update value 
l[0]= ["Ram", 34, "Chitwan"]
l

[['Ram', 34, 'Chitwan']]

In [18]:
l[0][0]= "Ram Prasad"
l

[['Ram Prasad', 3, 'kathmandu']]

In [22]:
# delete 
del l[0]
l

IndexError: list assignment index out of range

In [32]:
# WAC (Classwork)
data =[["Ram",34,"Kathmandu"],
      ["Shyam", 23, "Bhaktapur"],
      ["Hari", 67, "Lalitpur"]]
name= input("Enter name= ")
for i in data:
    if i[0]==name:
        print(i)

Enter name= Ram
['Ram', 34, 'Kathmandu']

In [38]:
# WAP (Classwork)
c=0
data =[["Ram",34,"Kathmandu"],
      ["Shyam", 23, "Bhaktapur"],
      ["Hari", 67, "Lalitpur"]]
name= input("Enter name= ")
for i in data:
    if i[0]==name:
        print(i)
        c=c+1
if c==0:
    print("Name not found")
else:
    print(c,"no of rows found")

Enter name= Ram
['Ram', 34, 'Kathmandu']
RECORDS FOUND
1 no of rows found

In [39]:
a=[" Ram","Shyam", "Hari","Ram"]
if "Ram" in a:
    print("Yes")
    print(a.count("Ram"))
else:
    print("No such name")

Yes
1

In [40]:
c=0
data =[["Ram",34,"Kathmandu"],
      ["Shyam", 23, "Bhaktapur"],
      ["Hari", 67, "Lalitpur"]]
name= input("Enter name= ")
for i in data:
    if i[0].lower()==name.lower():
        print(i)
        c=c+1
if c==0:
    print("Name not found")
else:
    print(c,"no of rows found")

Enter name= ram
['Ram', 34, 'Kathmandu']
1 no of rows found

In [42]:
# WAP to create matrix taking no of rows, colmns, and data as input.
# WAP to convert string into list inside list, 
# eg--apple 300 1 300 
#     Banana 200 2 400 
#         to
# [["Apple", 30, 300 ]]
# [["Banana", 2, 400]]

# hint : Split function use garera try garne string into list inside list.

In [ ]:
# WAP to create result management in list inside list and perform CRUD