# Set

In [ ]:
# set pani rarely use hunxa
# - No indexing (indexing support gardaina)
# multiple value but no duplicate value 
# Unordered
# Mutable (values can be changed)
# mathematics types ko set nai ho,

In [1]:
s={1,2,3,4,5,6,7,8,9,0}
print(type(s))
print(s)

<class 'set'>
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# bujnu parne kura
# indexing support gardaina

In [2]:
a = set()
a

set()

In [1]:
a={"Apple", "Ball", "Cat", "Fish", "Cow", "Goat"}
print(a)
a

{'Cow', 'Goat', 'Fish', 'Cat', 'Apple', 'Ball'}

{'Apple', 'Ball', 'Cat', 'Cow', 'Fish', 'Goat'}

In [4]:
# collection ko uique values, unordered data type ho jata pani rahana sakxa 
# randomly save hunxa

In [1]:
a={"Apple", "Ball", "Cat", "Fish", "Cow", "Goat"}
for i in a:
    print(i, end= " ")

Ball Cat Apple Fish Goat Cow

In [4]:
# set le duplicate value lidaina 
a={"Apple", "Ball", "Cat", "Fish", "Cow", "Goat","Apple", "Ball", "Cat"}
a

{'Apple', 'Ball', 'Cat', 'Cow', 'Fish', 'Goat'}

In [ ]:
# benefits of set 
# two or more than two value lai find out garna milxa like:
# union, intersection 
# array ma values haru maintain, commonness garna paryo, set use hunxa

In [ ]:
# for example 
# add garne, fuction 
# add()
# remove()
# update
# these fuctions we can use for creation in sets

In [5]:
s=set()
s.add("Apple")
s.add("Ball")
s.add("Cat")
s

{'Apple', 'Ball', 'Cat'}

In [6]:
a={"Apple", "Ball", "Cat"}
b={1,2,3,4,5,6}
a.update(b)
a

{1, 2, 3, 4, 5, 6, 'Apple', 'Ball', 'Cat'}

In [ ]:
 # main theme,
# duplicate value
# unordered 
# immutable data type

In [ ]:
# set ma use hune fuctions 
# intersection()
# union()
# difference()

In [8]:
# this is intersection (commonm value)
skills = {'Python','HTML', 'Django', 'JS', 'C++'}
job={'Python', 'Django','HTML', 'css', 'C++', 'ç','Java'}
skills.intersection(job)

{'C++', 'Django', 'HTML', 'Python'}

In [11]:
# this is union
skills = {'Python','HTML', 'Django', 'JS', 'C++'}
job={'Python', 'Django','HTML', 'css', 'C++', 'ç','Java'}
skills.union(job)

{'C++', 'Django', 'HTML', 'JS', 'Java', 'Python', 'css', 'ç'}

In [13]:
# difference 
# skills in you but in job 
skills = {'Python','HTML', 'Django','JS','C++'}
job={'Python', 'Django','HTML', 'css', 'C++', 'ç','Java'}
skills.difference(job)

set()

In [14]:
skills = {'Python','HTML', 'Django','JS','C++'}
job={'Python', 'Django','HTML', 'css', 'C++', 'ç','Java'}
job.difference(skills)

{'Java', 'css', 'ç'}

In [ ]:
# Wap to create a set taking values from users (add fuction use garne)

In [ ]:
# note:
# set vitra kaile pani array hudaina, most of time, unique data nai hunxa most of time
# no mutable data type inside set
# inside set no list , dict, even set is mutable 
# set vitra only tuple exsits hunxa

In [2]:
# for example
s={[1,2,3],[4,5,6]}
s
# set inside set exsits huna sakdaina

TypeError: unhashable type: 'list'

In [4]:
# set vitra only tuple exsits hunxa 
s={(1,2,3),(4,5,6)}
s

{(1, 2, 3), (4, 5, 6)}