In [2]:
a='Hello world'
print(type(a))

<class 'str'>

In [6]:
a = 5.6
print(type(a))

<class 'float'>

In [10]:
a = "Hello world"
print(a*2)

Hello worldHello world

In [13]:
a = "Hello world"
print(a[0:10:2])

Hlowr

In [12]:
a = "Hello world"
print(a[2])

l

In [14]:
a = "Hello world"
a[0:]

'Hello world'

In [15]:
a = "Hello world"
a[::-1]

'dlrow olleH'

In [24]:
a = "Hello world"
a[-1::-2]

'drwolH'

In [29]:
a = "Hello world"
l=len(a)
for i in range(l):
    print(a[i], end="")

Hello world

In [34]:
# string formatting (on of a important topic)
# this is string concatination
name="Ram"
age=34
address="Kathmandu"

info="Hello world I am"+name+"I am from"+ str(add) +"I am+str(age)"

In [31]:
# string formatting 
name=input("Enter name= ")
age=input("Enter age= ")
add=input("Enter add= ")

info=f"Hello world I am {name}. I am from {add}. I am {age}"
print(info)

Enter name= luxmi
Enter age= 28
Enter add= bhw
Hello world I am luxmi. I am from bhw. I am28

In [39]:
# search
a="ram shyam sita nabin ram akash"
name=input("Enter name= ")
if name in a :
    print("Yes")
    print(a.count(name))
else:
    print("there is no ", name)

ENter name= sita
Yes
1

In [42]:
a="ram shyam sita nabin ram akash"
print(a.upper())
print(a.lower())

print(a)

RAM SHYAM SITA NABIN RAM AKASH
ram shyam sita nabin ram akash
ram shyam sita nabin ram akash

In [45]:
a="Ram Shyam Sita nabin ram akash, ramesh".lower()
name=input("Enter name= ").lower()
if name in a :
    print("Yes")
    print(a.count(name))
else:
    print("there is no ", name)

Enter name= ram
Yes
3

In [49]:
# replace
a="Ram ,Shyam Sita nabin, Ram, akash, Ramesh"
a=a.replace('Ram', 'john')
print(a)

john Shyam Sita nabin, john, akash, johnesh

In [52]:
# replace
a="Ram ,Shyam Sita nabin, Ram , akash, Ramesh"
a=a.replace('Ram ', 'john')
print(a)

john,Shyam Sita nabin, john, akash, Ramesh

In [55]:
# replace()
a="Ram ,Shyam Sita nabin, Ram, akash, Ramesh"
a = a.replace("Ram ", "")
print(a)

,Shyam Sita nabin, Ram, akash, Ramesh

In [58]:
# title(),
a="Ram ,shyam sita nabin, ram , akash"
a.title()

'Ram ,Shyam Sita Nabin, Ram , Akash'

In [59]:
# split()
a="Ram ,Shyam Sita nabin, Ram , akash, Ramesh"
a.split()

['Ram', ',Shyam', 'Sita', 'nabin,', 'Ram', ',', 'akash,', 'Ramesh']

In [60]:
# split
a="Ram ,Shyam Sita nabin, Ram , akash, Ramesh"
a= a.split()
print(a)

['Ram', ',Shyam', 'Sita', 'nabin,', 'Ram', ',', 'akash,', 'Ramesh']

In [62]:
# capitalize
a="hello world, My name is luxmi acharya"
a.capitalize()

'Hello world, my name is luxmi acharya'

In [70]:
# Center(width, fillchar)
a="Hello"
print(a.center(15, "*"))

*****Hello*****

In [74]:
# while loop in string 
a="Hello world"
l=len(a)
i=0
while i<1:
    print(a[i], end="")
    i=i+1

H

In [2]:
#String Formatting!
i = 0
bill = ""
all_total = 0
n = int(input("Enter n= "))
while i<n:
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    qty = int(input('Enter quantity = '))
    total = price * qty
    bill = bill + f"{name} {price} {qty} {total}\n"
    all_total = all_total + total
    i = i+1
print(bill)

Enter n= 2
Enter name = apple
Enter price = 200
Enter quantity = 4
Enter name = mango
Enter price = 150
Enter quantity = 3
apple  200 4 800
mango 150 3 450