# Tuple

In [ ]:
# -Indexing 
# -ordered 
# -multiple and duplicate data 
# -immutable (Main point)

In [2]:
# let us suppose 
a=(1,2,3,4,5,9,7,8,9)
print(type(a))
print(a)

<class 'tuple'>
(1, 2, 3, 4, 5, 9, 7, 8, 9)

In [6]:
a=("Apple","Ball","Cat", "Fish", "Goat")
print(a[0])
print(a[0:5])
print(a[0:6:2])

Apple
('Apple', 'Ball', 'Cat', 'Fish', 'Goat')
('Apple', 'Cat', 'Goat')

In [ ]:
# static data ko lagi, use hunxa tuple , string use pani hunxa 
# dynamic kaam ko lagi dictionary, lists

In [ ]:
gender=('Male', 'Female', 'Other')

In [13]:
# main confusion hune kura
a=(1,)
print(a)
# a=tuple()
print(type(a))

(1,)
<class 'tuple'>

In [16]:
# string data
a=("Apple",)
print(type(a))

<class 'tuple'>

In [ ]:
# append(), insert(), extend(), no update. sort() [tuple ma use hudaina]
# no delete(), remove(), pop() ,[tuple ma use hudaina]
# ek choti create garisake paxi, values ma change garna paudaina
# tuples aru vanda rarely use hunxa ,list dict, jati use hudaina 
# dherai varities hudaina, ekdum choto data type ho

In [ ]:
# how to create tuple. 
# one and only way, concatination
# tuples are predefined
# tuples haru light weight hunxa
# user le kunai certain value change garna sakdaina

In [18]:
t=()
n=int(input('Enter value= '))
for i in range(n):
    x=int(input('Enter x = '))
    t=t+(x, )
print(t)

Enter value= 5
Enter x = 125
Enter x = 142
Enter x = 548
Enter x = 742
Enter x = 215
(125, 142, 548, 742, 215)

In [19]:
# let us suppose 
a=(125, 142, 548, 742, 215)
print(min(a))
print(max(a))
print(sum(a))

125
742
1772

In [20]:
# change pani garna milxa
# tuple lai list ma change garna milxa, ani value change garna milxa 

a= (125, 142, 548, 742, 215)
b=list(a)
b

[125, 142, 548, 742, 215]

In [21]:
(125, 142, 548, 742, 215)
a=list(a)
del b[0]
a=tuple(b)
print(a)

(142, 548, 742, 215)

In [22]:
# tuple inside list
l = [(1,2,3),
    (4,5,6),
    (7,8,9)]
l

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [23]:
# list inside tuple 
t=([1,2,3],
  [4,5,6],
  [7,8,9])
t

([1, 2, 3], [4, 5, 6], [7, 8, 9])

In [24]:
# tuple inside tuple 
t=((1,2,3),
   (4,5,6),
   (7,8,9))
t

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [28]:
data=[]
l = list(t)
for i in l:
    data.append(list(i))
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
# Wap to convert list inside list to tuple inside tuple

In [4]:
# list inside tuple 
a=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
t=tuple()
for i in a:
    t=t + (tuple(i),)
print(t)

((1, 2, 3), (4, 5, 6), (7, 8, 9))